.flex-container{
    display: flex;
    flex-flow: column wrap;    
}
#initial_info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.fill{
    margin: 1em;
    flex: 1 1 auto;
}
.out{
    display: none;
}

ul{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
li{
    flex: 1 1 auto;
    max-width: 3em;
    margin: 0.5em;
    display: flex;
}
.label_center{
    align-self: center;
    font-size: 3.5em;    
}
.label_x{
    align-self: center;
}
.input_dynamic{
    text-align: center;
}
.horizontal-align{
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;   
}

.switch{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
}

#btn_calc{
    align-self: flex-end;
}

#num_var, #num_rest{
    max-width: 3em;
}